@page "/fetchdataSyllabi"
@using SubjectDependencyGraph.Models;
@inject HttpClient Http

<PageTitle>Syllabi Muther</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (syllabi == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Length</th>
                <th>Must Chose Credit</th>
                <th>Chosable Credit</th>
                <th>Starting Spec Semester</th>
                <th>Specialisations</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in syllabi)
            {
                <tr>
                    <td>@forecast.Id</td>
                    <td>@forecast.Name</td>
                    <td>@forecast.Length</td>
                    <td>@forecast.MustChoseCredit</td>
                    <td>@forecast.ChosableCredit</td>
                    <td>@forecast.StartingSpecSemester</td>


                    <td>@string.Join(',',forecast.Specialisations.Select(x=>x.Name))</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Syllabus[]? syllabi;

    protected override async Task OnInitializedAsync()
    {
        syllabi = await Http.GetFromJsonAsync<Syllabus[]>("sample-data/OENIK-E.json");
    }

   
}
