@page "/"
@using SubjectDependencyGraph.Models;
@using SubjectDependencyGraph.PageComponents;
@inject HttpClient Http

<PageTitle>Syllabi</PageTitle>

@if (syllabi == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Length</th>
                <th>Must Chose Credit</th>
                <th>Chosable Credit</th>
                <th>Starting Spec Semester</th>
                <th>Specialisations</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in syllabi)
            {
                <tr>
                    <td>@forecast.Id</td>
                    <td>@forecast.Name</td>
                    <td>@forecast.Length</td>
                    <td>@forecast.RequiredMustChoseCredit</td>
                    <td>@forecast.RequiredChosableCredit</td>
                    <td>@forecast.StartingSpecSemester</td>

                    <td>@string.Join(',',forecast.Specialisations.Select(x=>x.Name))</td>
                </tr>
            }
        </tbody>
    </table>

    <SyllabusComponent SyllabusParam="syllabi.First()" />
}


@code {
    private Syllabus[]? syllabi;

    protected override async Task OnInitializedAsync()
    {
        syllabi = await Http.GetFromJsonAsync<Syllabus[]>("sample-data/OENIK-E.json");
    }

   
}
